/* Google Fonts
font-family: 'Permanent Marker', cursive;
font-family: 'Changa', sans-serif;
font-family: 'Sacramento', cursive;
*/

body {
	/* background-color: #B2E9FD; */
	background-color: black;
}

.header h2 {
	color: #DC4247;
	font-family: 'Sacramento', cursive;
	font-size: 200px;
	padding-top: 20px;
	background: yellow;
	background-image: url("Film.png");
	background-size: 60%;
	background-repeat: repeat-x;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header p {
	color: darkgoldenrod;
	font-family: 'Changa', sans-serif;
}
.watchlist-button {
	border-radius: 50%;
	background-color: red;
	color: red;
}
.results {
	margin-top: 20px;
	margin-right: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
/* Movie Cards */
.movie {
	flex: 2;
	padding-bottom: 30px;

}
.card-body {
	background-color: lightblue;
}
.card {
	display: flex;
}
.card-body {
	display: flex;
	flex-direction: column;
}
.under-title {
	display: flex;
	display: column;
}
.card-text {
	background-color: black;
	color: white;
	width: 25%;
	border-radius: 10%;
	text-align: center;
	/* flex: 1; */
}
.button {
	/* flex: 3;
	margin: 5px; */
}

